@media (max-width: 426px) {
  .card {
    width: 297px;
    height: 388px;
  }

  .card-advice #advice {
    width: 160px;
    height: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15em;
  }

  #advice span {
    font-weight: 100;
    font-size: 20px;
    line-height: 24px;
  }

  .card-advice p {
    width: 260px;
    height: 96px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
  }

  .advice-update {
    width: 74px;
    height: 74px;
    transform: translateY(125%);
  }
}
